In [2]:
library(glue)
library(tidyverse)
library(lobstr)
library(rlang)
library(purrr)
library(scales)
library(memoise)
library(sloop)
library(codetools)

In [3]:
x <- 10

In [18]:
eval(expr(x), env(y = 1, z = 2))

[1] 10

In [20]:
rm(x, y)

Warning message in rm(x, y):
“object 'x' not found”
Warning message in rm(x, y):
“object 'y' not found”

In [29]:
foo <- local({
    x <- 10
    y <- 200
    x + y
})

In [30]:
foo

[1] 210

In [32]:
local

function (expr, envir = new.env())
eval.parent(substitute(eval(quote(expr), envir)))
<bytecode: 0xebe258>
<environment: namespace:base>

In [44]:
local2 <- function(expr, env = caller_env()) {
    new_env <- env(env)
    eval(enexpr(expr), new_env)
}

In [52]:
ff <- function(env = caller_env()) {
    map(parse_exprs("x <- 2; y <- 3"), eval, env)
    eval(expr(x <- 4), env)
    c(x, y)
}
c(x, y)

ERROR: Error in eval(expr, envir, enclos): object 'x' not found

In [45]:
foo <- local2({
    x <- 10
    y <- 200
    x + y
})
foo
rm(x, y)

[1] 210

Warning message in rm(x, y):
“object 'x' not found”
Warning message in rm(x, y):
“object 'y' not found”

In [53]:
get2 <- function(name, env) {
    eval(sym(name), env)
}

In [54]:
my_env <- env(x = 1, y = 2)

In [60]:
get2("x", my_env)

[1] 1

In [63]:
assign2 <- function(name, value, env) {
    var <- sym(name)
    statement <- expr(!!var <- !!value)
    eval(statement, env)
}

In [69]:
assign2("z", 4, my_env)

In [70]:
get2("z", my_env)

[1] 4

In [75]:
eval_tidy(new_quosure(expr(x + y), env(x = 1, y = 10)))

[1] 11

In [76]:
f <- function(...) {
    x <- 1
    g(..., f = x)
}
g <- function(...) {
    enquos(...)
}

In [77]:
x <- 0
qs <- f(global = x)
qs

<list_of<quosure>>

$global
<quosure>
expr: ^x
env:  global

$f
<quosure>
expr: ^x
env:  0x39a49c0

In [78]:
f <- ~runif(3)

In [80]:
str(f)

Class 'formula'  language ~runif(3)
  ..- attr(*, ".Environment")=<environment: R_GlobalEnv>

In [84]:
q4 <- new_quosure(expr(x + y + z))

In [85]:
attr(q4, ".Environment")

In [86]:
get_env(q4)

In [87]:
get_expr(q4)

x + y + z

In [88]:
q2 <- new_quosure(expr(x), env(x = 1))

In [89]:
q3 <- new_quosure(expr(x), env(x = 10))

In [90]:
x <- expr(!!q2 + !!q3)

In [91]:
eval_tidy(x)

[1] 11

In [92]:
expr_print(x)

(^x) + (^x)

In [93]:
q1 <- new_quosure(expr(x), env(x = 1))
eval_tidy(q1)

[1] 1

In [ ]:
enenv <- function(x) {
    get_env(enquo(x))
}

In [94]:
q1 <- new_quosure(expr(x * y), env(x = 100))

In [95]:
df <- data.frame(y = 1:10)

In [96]:
eval_tidy(q1, df)

 [1]  100  200  300  400  500  600  700  800  900 1000

In [97]:
with2 <- function(data, expr) {
    expr <- enquo(expr)
    eval_tidy(expr, data)
}

In [105]:
y <- 100
with2(df, y * x)

 [1]  100  200  300  400  500  600  700  800  900 1000

In [106]:
sample_df <- data.frame(a = 1:5, b = 5:1, c = c(5, 3, 1, 4, 1))

In [107]:
subset(sample_df, a >= 4)

  a b c
4 4 2 4
5 5 1 1

In [111]:
subset(sample_df, a == b)

  a b c
3 3 3 1

In [112]:
subset2 <- function(data, expr) {
    expr = enquo(expr)
    data[eval_tidy(expr, data), ]
}

In [113]:
subset2(sample_df, a >= 4)

  a b c
4 4 2 4
5 5 1 1

In [114]:
subset2(sample_df, a == b)

  a b c
3 3 3 1

In [115]:
df <- data.frame(x = c(2, 3, 1), y = runif(3))

In [116]:
transform(df, x = -x, y2 = 2 * y)

  x  y          y2
1 -2 0.85645928 1.71291857
2 -3 0.02761552 0.05523104
3 -1 0.94908456 1.89816911

In [126]:
transform2 <- function(.data, ...) {
    dots <- enquos(...)
    for (i in seq_along(dots)) {
        name <- names(dots)[[i]]
        dot <- dots[[i]]
        .data[[name]] <- eval_tidy(dot, .data)
    }
    .data
}

In [127]:
transform2(df, x = -x, y2 = 2 * y)

  x  y          y2
1 -2 0.85645928 1.71291857
2 -3 0.02761552 0.05523104
3 -1 0.94908456 1.89816911

In [125]:
df

  x y
1 2 0.85645928
2 3 0.02761552
3 1 0.94908456

In [128]:
df <- data.frame(a = 1, b = 2, c = 3, d = 4, e = 5)
subset(df, select = b:d)

  b c d
1 2 3 4

In [129]:
select(df, b:d)

  b c d
1 2 3 4

In [145]:
select2 <- function(.data, ...) {
    vars <- set_names(seq_along(.data), names(.data))
    cols <- enquos(...) %>% 
        map(eval_tidy, vars) %>% 
        unlist()
    .data[, cols]
}

In [147]:
select2(df, a:b, d:e)

  a b d e
1 1 2 4 5

In [133]:
vars <- as.list(set_names(seq_along(df), names(df)))

In [141]:
str(unlist(map(list(new_quosure(expr(b:d))), eval_tidy, vars)))

 int [1:3] 2 3 4

In [144]:
unlist(list(1:2, 4:6))

[1] 1 2 4 5 6

  a b c d e
1 1 2 3 4 5

In [152]:
df <- data.frame(x = c(2, 3, 2, 1), y = runif(4))

In [153]:
df

  x y
1 2 0.7717387
2 3 0.4220439
3 2 0.7056023
4 1 0.1336300

In [158]:
arrange(df, x, x-y)

  x y
1 1 0.1336300
2 2 0.7717387
3 2 0.7056023
4 3 0.4220439

In [ ]:
arrange2 <- function(.data, ..., .na.last = TRUE) {
    args <- enquos(...)
    
}

In [159]:
resample <- function(df, n) {
    idx <- sample(nrow(df), n, replace = TRUE)
    df[idx, , drop = FALSE]
}

In [165]:
subsample <- function(df, cond, n = nrow(df)) {
    df <- subset2(df, cond)
    resample(df, n = n)
}

In [166]:
df <- data.frame(x = c(1, 1, 1, 2, 2), y = 1:5)
subsample(df, x == 1)

     x y